.infoLinks {
    background-color: $accentC;
    padding: 100px 0;
}

.infoLinksContainer {
    display: flex;
        a {
            text-decoration: none;
            @include headings(40px);
        }
        a:hover {
            color: $accentA;
        }
}

.customOffers,
.community {
    margin-bottom: 50px;
}
.textContainer {
    position: relative;
    width: calc(100% / 2);
    padding-left: 60px;
}

.circle {
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: $secondaryColor;
    border-radius: 50%;
    text-align: center;
        .fas {
            color: $accentA;
            padding-top: 8px;
            font-size: 30px;
        }
}

