.articles {
    background-color: $accentB; 
        h2 {
            margin-bottom: 0;
        }  
}
// article containers for the first and second sub 'sections' (divs)
.articlesContainer {
    display: flex;
}

// container 1
.articles1ImgContainer {
    width: calc(100% / 2);
    padding-right: 100px;
        img {
            position: relative;
            top: -40px;
            box-shadow: 15px 15px $primaryColor;
        }
}
.ArticlesTextAndButtonContainer1,
.ArticlesTextAndButtonContainer2 {
    width: calc(100% / 2);
    padding: 0 100px;
}

// container 2
.ArticlesTextAndButtonContainer2 {
    display: flex;
    flex-direction: column;
        h2 {
            align-self: flex-end;
        }
        button {
            align-self: flex-end;
        }
}

.articles2ImgContainer {
    width: calc(100% / 2);
    padding-left: 100px;
        img {
            position: relative;
            top: 40px;
            box-shadow: -15px 15px $primaryColor;
        }
}