.gallery {
    background-color: $accentB;
    padding: 100px 0;
}

.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
        li {
            width: calc((100% - 60px) / 3);
            margin-right: 30px;
        }
        li:nth-child(3n) {
            margin-right: 0;
        }
}

