.homeHeader {
    @include headerBackground(url(../assets/home-image-1.jpg));
}

.topNav {
    display: flex;
    height: 15%;
    align-items: center;
}

.navLinks {
    display: flex;
    flex: 1 0 50%;
    justify-content: flex-end;
        li {
            margin: 0 20px;
        }
        a {
            text-decoration: none;
            @include navFont;
            padding: 10px;
        }
        a:hover {
            color: $primaryColor;
        }
}

.hamburgerMenu,
.closeMenu {
    color: $accentA;
    height: 0;
    overflow: hidden;
}

.featureContainer {
    height: 100%;
    position: relative;
}

.feature {
    height: 100%;
    display: flex;
    padding-right: 200px;
        img {
            position: relative;
            top: 60px;
            left: 0;
        }
}

// h1:
.welcomeHeading1 {
    color: $accentA;
    font-family: $secondaryFont;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    margin: 75px 0;
        .logo {
            font-size: 115px;
        }
}
