@media (max-width: 980px) {

    .feature {
        height: 80%;
    }

    .welcomeHeading1 {
        width: 100%;
        font-size: 25px;
        
            .logo {
                font-size: 70px;
            }
    }

    // homeSection01NewAdventures

    .newAdventure {
        p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    // homeSection03InfoLinks

    .infoLinks {
        p {
            font-size: 18px;
            line-height: 28px;
        }
    }

    // homeSection04Articles
    .articles {
        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
    .articlesContainer {
        padding: 35px 0;
    }

    .articles1ImgContainer,
    .articles2ImgContainer {
        padding: 0px;
        img {
            top: 20px;
        }
    }

    .ArticlesTextAndButtonContainer1,
    .ArticlesTextAndButtonContainer2 {
        padding: 0 35px;
    }

    // homeSection06FreeTrials
    .trialsContainer {
        margin: 0 10px;
            p {
                font-size: 18px;
                line-height: 28px;
            }
    }

// ******BLOG PAGE*********

    .blog,
    .comments,
    .commentFormSection {
            p {
                font-size: 16px;
            }
    }

    .missionAside {
            p {
                font-size: 16px;
            }
            li {
                font-size: 16px;
            }
            li::before {
                margin-right: 0;
            }
    }
    input::placeholder,
    textarea::placeholder {
        font-size: 16px;
    }

// ******CONTACT PAGE*********

    .contactHeading1 {
        font-size: 90px;
    }

    .contactFlexContainer {
        width: 98%;
        top: -100px;
        left: 0;
    }
    .contactFormSection {
        width: 65%;
    }

}

// ***********************768px****************************************************
@media (max-width: 768px) {
    .wrapper {
        width: 98%;
    }

    .topNav {
        height: 25%;
    }

    .navLinks {
        flex-direction: column;
        align-items: flex-end;
            li {
                margin: 0 5px;
            }
    }

    .feature {
        height: 60%;
    }

    // homeSection01NewAdventure

    .newAventure {
        padding: 0;
    }

    .newAdventureContainer {
        flex-direction: column;
    }

    .textAndButtonContainer {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
            p {
                text-align: center;
            }
    }

    // homeSection03InfoLinks
    
    .infoLinks {
        padding: 50px 0;
    }
    .infoLinksContainer {
        flex-direction: column;
    }

    .customOffers,
    .community {
        margin-bottom: 0px;
    }

    .textContainer {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
            p {
                text-align: center;
            }
    }

    .circle {
        position: relative;
    }

    // homeSection04Articles

    .ArticlesTextAndButtonContainer1,
    .ArticlesTextAndButtonContainer2 {
            h2 {
                font-size: 30px;
                margin: 0;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
    }

    .ArticlesTextAndButtonContainer2 {
            h2 {
                align-self: flex-start;
            }
            button {
                align-self: flex-start;
            }
}

// ******BLOG PAGE*********

    .blogPostContainer {
        width: 90%;
    }
    .missionAside {
        width: 100%;
        position: static;
        box-shadow: none;
        display: flex;
    }

    .missionAsideDivImg,
    .missionAsideDivText,
    .missionAsideDivList {
        width: calc((100% - 30px) / 3);
        margin: 5px;
    }

    .comments {
        width: 100%;
            h2 {
                top: 0px;
                margin-top: 25px;
            }
    }

    input::placeholder,
    textarea::placeholder {
        font-size: 16px;
    }

    // ******CONTACT PAGE*********

    .contactHeader {
        height: 50vh;
    }

    .contactHeading1 {
        font-size: 75px;
        top: 15%;
    }

    .contactFormSection {
        width: 95%;
    }

    .contactInfo {
        position: relative;
        top: 20px;
        right: -250px;
    }

}
// ***********************480px************************************************
@media (max-width: 480px) {
    .homeHeader {
        height: 55vh;
    }

    .logoDiv {
        display: none;
    }
    
    .navLinks li {
        height: 0;
        overflow: hidden;
    }
    
    .hamburgerMenu {
        height: auto;
        overflow: visible;
        position: absolute;
        right: 50px;
        font-size: 40px;  
    }

    .feature {
        flex-direction: column-reverse;
    }

    .welcomeHeading1 {
        margin: 0 auto;
        font-size: 23px;
            .logo {
                font-size: 60px;
            }
    }
    // homeSection01NewAdventure

    .textAndButtonContainer {
            h2 {
                font-size: 42px;
            }
            p {
                font-size: 16px;
            }
    }

    // homeSection02Gallery

    .gallery {
        padding: 0;
    }
    .galleryContainer {
        flex-direction: column;
            li {
                width: 100%;
                margin: 0;
                padding: 45px;
            }
    }

    // homeSection03InfoLinks

    .infoLinksContainer {
            a {
                font-size: 35px;
            }
    }
    .textContainer {
        padding: 20px;
            p {
                font-size: 16px;
            }
    }

    .circle {
        width: 45px;
        height: 45px;
            .fas {
                font-size: 27px;
            }
    }

    // homeSection04Articles

    .articlesContainer {
        flex-direction: column;
        align-content: center;
    }

    .articlesContainer2 {
        flex-direction: column-reverse;
    }

    .articles1ImgContainer {
        width: 100%;
        padding: 0 30px;
            img {
                top: 0;
                box-shadow: none;
            }
    }

    .ArticlesTextAndButtonContainer1,
    .ArticlesTextAndButtonContainer2 {
        width: 100%;
            p {
                text-align: center;
            }
    }

    .ArticlesTextAndButtonContainer1 {
        display: flex;
        flex-direction: column;
            h2 {
                align-self: center;
            }
            p {
                align-self: center;
            }
            button {
                align-self: center;
            }
    }

    .ArticlesTextAndButtonContainer2 {
            h2 {
                align-self: center;
            }
            button {
                align-self: center;
            }
    }

    .articles2ImgContainer {
        width: 100%;
        padding: 0 30px;
            img {
                top: 0;
                box-shadow: none;
            }
    }

    // homeSection06FreeTrials

    .trialsContainer {
            h2 {
                font-size: 40px;
            }
            p {
                font-size: 16px;
                text-align: center;
            }
    }

// ******BLOG PAGE*********

    .blogHeader {
        height: 45vh;
    }

    .blogHeading1 {
        top: 0;
    }

    .blogPost {
            h2 {
                font-size: 40px;
                line-height: 46px;
                letter-spacing: 4px;
                text-align: center;
            }
    }

    .blog,
    .comments,
    .commentFormSection {
            p {
                font-size: 13px;
                text-align: center;
            }
    }
    
    .blogPostContainer {
        width: 98%;
    }

    .missionAside h3 {
        margin: 0 auto;
    }

    .missionAsideDivText {
        order: -1;
    }

    .missionAsideDivImg {
        align-self: center;
    }

    .commentContainer {
        flex-direction: column;
            .commentArticleTitleAndText {
                margin: 0 auto;
                padding: 0;
            }
    }

    .commenterImg {
        width: 55%;
        align-self: center;
    }

    .commentArticleTitleAndText {
        padding: 0;
    }

    .formSubFlexContainer {
        flex-direction: column;
    }

    textarea {
        padding: 10px;
        width: 400px;
    }

    // ******CONTACT PAGE*********

    .contactInfo {
        right: -5px;
    }

    .contactForm {
        box-shadow: none;
            textarea {
                padding: 10px;
                width: 300px;
            }
    }

}