@mixin headerBackground($urlValue) {
    background-image: $urlValue;
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin navFont {
    font-family: $secondaryFont;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 1px;
    color: $accentA;
}

@mixin headings($sizeValue) {
    font-size: $sizeValue;
    font-family: $primaryFont;
    color: $primaryColor;
}

@mixin bodyText($sizeValue) {
    font-family: $secondaryFont;
    font-size: $sizeValue;
    line-height: 32px;
    letter-spacing: 2px;
    color: $accentA;
}

@mixin buttons {
    background: $secondaryColor;
    border: none;
    font-family: $primaryFont;
    color: $accentA;
    font-size: 30px;
    padding: 5px 10px;
    margin: 10px 0;
}