$primaryColor: #FFC600;
$secondaryColor: #555F02;
$accentA: #FAFFFE;
$accentC: #1E140E;
$accentB: #262725;
$primaryFont: 'Dokdo', cursive;
$secondaryFont: 'Lato', sans-serif;





    // font-family: 'Dokdo', cursive;

    // font-family: 'Lato', sans-serif;