$primaryGold: #FFC600;
$secondaryGreen: #555F02;
$fontColor: #FAFFFE;
$CamoGreen: #1E140E;
$Charcoal: #262725;
$logoFont: 





    // font-family: 'Dokdo', cursive;

    // font-family: 'Lato', sans-serif;