@import 'setup';
@import 'variables';
@import 'mixins';
@import 'homeHeader';
@import 'homeSection01NewAdventure';
@import 'homeSection02Gallery';
@import 'homeSection03InfoLinks';
@import 'homeSection04Articles';
@import 'homeSection05Banner';
@import 'homeSection06FreeTrials';
@import 'footer';
@import 'blogPage';
@import 'formGeneralStyle';
@import 'contactPage';


// general styling
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    background: #FCFCFC;
    color: #000000;
}

.skip-link:focus {
    left: 0;    
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    @include headings(41.5px);
}

p {
    @include bodyText;
}

h2 {
    @include headings(45px);
    line-height: 58px;
    letter-spacing: 4.9px;
}

h3 {
    font-family: $primaryFont;
    font-size: 35px;
    color: $accentA;
    // add line height / letter spacing
}

//used for date and name of comments section
h4 {
    @include bodyText;
    color: $primaryColor;
}

li {
    list-style-type: none;
}
button {
    @include buttons;
}
