@import 'setup';
@import 'variables';
@import 'mixins';
@import 'homeHeader';
@import 'homeSection01NewAdventure';
@import 'homeSection02Gallery';
@import 'homeSection03InfoLinks';
@import 'homeSection04Articles';


// general styling
// html {
// 	font-size: 62.5%;
// }
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    @include headings(41.5px);
}

p {
    @include bodyText;
}

h2 {
    @include headings(45px);
    line-height: 58px;
    letter-spacing: 4.9px;
}

button {
    @include buttons;
}
