@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.homeHeader {
  background-image: url(../assets/home-image-1.jpg);
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navLinks li {
  margin: 0 20px;
}
.navLinks a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: #FAFFFE;
  padding: 10px;
}
.navLinks a:hover {
  color: #FFC600;
}

.hamburgerMenu {
  color: #FAFFFE;
  height: 0;
  overflow: hidden;
}

.featureContainer {
  height: 100%;
  position: relative;
}

.feature {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 200px;
}
.feature img {
  position: relative;
  top: 60px;
  left: 0;
}

.welcomeHeading1 {
  color: #FAFFFE;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  margin: 75px 0;
}
.welcomeHeading1 .logo {
  font-size: 115px;
}

.newAdventure {
  background-color: #1E140E;
  padding: 50px 0;
}

.newAdventureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textAndButtonContainer {
  margin: 100px 80px 75px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 4 auto;
          flex: 0 4 auto;
}
.textAndButtonContainer h2 {
  margin: 0;
}
.textAndButtonContainer p {
  margin: 0;
}

.imgContainer {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}
.imgContainer img {
  -webkit-box-shadow: -15px 15px #555F02;
          box-shadow: -15px 15px #555F02;
}

.gallery {
  background-color: #262725;
  padding: 100px 0;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
.galleryContainer li {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.galleryContainer li:nth-child(3n) {
  margin-right: 0;
}

.infoLinks {
  background-color: #1E140E;
  padding: 100px 0;
}

.infoLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.infoLinksContainer a {
  text-decoration: none;
  font-size: 40px;
  font-family: "Dokdo", cursive;
  color: #FFC600;
}
.infoLinksContainer a:hover {
  color: #FAFFFE;
}

.customOffers,
.community {
  margin-bottom: 50px;
}

.textContainer {
  position: relative;
  width: calc(100% / 2);
  padding-left: 60px;
}

.circle {
  position: absolute;
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: #555F02;
  border-radius: 50%;
  text-align: center;
}
.circle .fas {
  color: #FAFFFE;
  padding-top: 8px;
  font-size: 30px;
}

.articles {
  background-color: #262725;
}
.articles h2 {
  margin-bottom: 0;
}

.articlesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles1ImgContainer {
  width: calc(100% / 2);
  padding-right: 100px;
}
.articles1ImgContainer img {
  position: relative;
  top: -40px;
  -webkit-box-shadow: 15px 15px #FFC600;
          box-shadow: 15px 15px #FFC600;
}

.ArticlesTextAndButtonContainer1,
.ArticlesTextAndButtonContainer2 {
  width: calc(100% / 2);
  padding: 0 100px;
}

.ArticlesTextAndButtonContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ArticlesTextAndButtonContainer2 h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.ArticlesTextAndButtonContainer2 button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.articles2ImgContainer {
  width: calc(100% / 2);
  padding-left: 100px;
}
.articles2ImgContainer img {
  position: relative;
  top: 40px;
  -webkit-box-shadow: -15px 15px #FFC600;
          box-shadow: -15px 15px #FFC600;
}

.banner {
  background-image: url(../assets/banner-image.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.freeTrials {
  background-color: #1E140E;
}

.trialsContainer {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trialsContainer h2 {
  margin: 0 auto;
}
.trialsContainer p {
  margin: 10px auto;
}

footer {
  background-color: #262725;
  text-align: center;
  padding: 10px 0;
}
footer p {
  margin: auto;
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blogHeading1 {
  font-size: 105px;
  font-family: "Dokdo", cursive;
  color: #FFC600;
  line-height: 69.6px;
  letter-spacing: 10.9px;
  position: relative;
  top: 35%;
}

main {
  background-color: #1E140E;
}

.blog {
  position: relative;
}

.blogPostContainer {
  width: 65%;
  border-right: 5px solid #555F02;
  border-bottom: 5px solid #555F02;
  padding: 10px;
  position: relative;
  top: -100px;
}
.blogPostContainer img {
  -webkit-box-shadow: 15px 15px #555F02;
          box-shadow: 15px 15px #555F02;
  position: relative;
  top: -25px;
}

.missionAside {
  width: 26%;
  background-color: #555F02;
  position: absolute;
  right: 0;
  top: 40px;
  -webkit-box-shadow: -15px 15px #555F02;
          box-shadow: -15px 15px #555F02;
}
.missionAside ul {
  padding: 0 5px;
}
.missionAside li {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}
.missionAside li::before {
  content: "•";
  color: #FFC600;
  display: inline-block;
  width: 15px;
  margin-right: 10px;
}

.missionAside h3 {
  margin: 25px 0;
}

.comments {
  width: 65%;
}
.comments h2 {
  color: #FAFFFE;
  position: relative;
  top: -30px;
}

.commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}
.commentContainer .commenterImg {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}
.commentContainer .commenterImg img {
  width: 100%;
}
.commentContainer .commentArticleTitleAndText {
  width: 80%;
  padding-left: 30px;
}
.commentContainer .commentArticleTitleAndText h4 {
  margin-top: 0;
}

.commentForm .formSubFlexContainer input {
  width: calc(95% / 2);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

label {
  display: none;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
  padding: 25px;
  border-style: none;
  border-bottom: 2px solid #FFC600;
  background-color: #1E140E;
  margin-bottom: 45px;
}

textarea {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
  padding: 50px 25px;
  border: 2px solid #FFC600;
  background-color: #1E140E;
  margin-bottom: 15px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}

.formSubFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formSubFlexContainer input {
  width: calc(98% / 2);
}

input[type=submit] {
  background: #555F02;
  border: none;
  font-family: "Dokdo", cursive;
  color: #FAFFFE;
  font-size: 30px;
  padding: 5px 10px;
  margin: 10px 0;
  margin: 30px 0 90px 0;
}

input[type=submit]:hover {
  color: #1E140E;
  background-color: #FFC600;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  background-color: #262725;
  outline: 2px solid #FAFFFE;
  border: none;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contactHeading1 {
  font-size: 105px;
  font-family: "Dokdo", cursive;
  color: #FFC600;
  line-height: 69.6px;
  letter-spacing: 10.9px;
  position: relative;
  top: 35%;
}

main {
  background-color: #1E140E;
}

.contactFlexContainer {
  position: relative;
  top: -150px;
  left: -25px;
}

.contactFormSection {
  width: 70%;
}

.contactForm {
  background-color: #262725;
  padding: 40px;
  -webkit-box-shadow: 20px 20px #FFC600;
          box-shadow: 20px 20px #FFC600;
}
.contactForm input[type=text],
.contactForm input[type=email],
.contactForm textarea {
  background-color: #262725;
}
.contactForm input[type=submit] {
  margin-bottom: 0;
}

.contactInfo {
  position: absolute;
  top: 200px;
  right: 0;
}

.socialIconsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.socialIconsList li a {
  padding: 10px 10px 10px 1px;
  margin-right: 15px;
  color: #FFC600;
  font-size: 20px;
}

.socialIconsList li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.socialIconsList a:focus {
  outline: 1px dotted #FAFFFE;
}

.socialIconsList li:active {
  color: #FAFFFE;
}

.addressContainerList {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}
.addressContainerList ul {
  padding: 0;
}

@media (max-width: 980px) {
  .feature {
    height: 80%;
  }

  .welcomeHeading1 {
    width: 100%;
    font-size: 25px;
  }
  .welcomeHeading1 .logo {
    font-size: 70px;
  }

  .newAdventure p {
    font-size: 18px;
    line-height: 28px;
  }

  .infoLinks p {
    font-size: 18px;
    line-height: 28px;
  }

  .articles p {
    font-size: 18px;
    line-height: 28px;
  }

  .articlesContainer {
    padding: 35px 0;
  }

  .articles1ImgContainer,
.articles2ImgContainer {
    padding: 0px;
  }
  .articles1ImgContainer img,
.articles2ImgContainer img {
    top: 20px;
  }

  .ArticlesTextAndButtonContainer1,
.ArticlesTextAndButtonContainer2 {
    padding: 0 35px;
  }

  .trialsContainer {
    margin: 0 10px;
  }
  .trialsContainer p {
    font-size: 18px;
    line-height: 28px;
  }

  .blog p,
.comments p,
.commentFormSection p {
    font-size: 16px;
  }

  .missionAside p {
    font-size: 16px;
  }
  .missionAside li {
    font-size: 16px;
  }
  .missionAside li::before {
    margin-right: 0;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 16px;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 16px;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 16px;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 16px;
  }

  input::placeholder,
textarea::placeholder {
    font-size: 16px;
  }

  .contactHeading1 {
    font-size: 90px;
  }

  .contactFlexContainer {
    width: 98%;
    top: -100px;
    left: 0;
  }

  .contactFormSection {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 98%;
  }

  .topNav {
    height: 25%;
  }

  .navLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navLinks li {
    margin: 0 5px;
  }

  .feature {
    height: 60%;
  }

  .newAventure {
    padding: 0;
  }

  .newAdventureContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .textAndButtonContainer {
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .textAndButtonContainer p {
    text-align: center;
  }

  .infoLinks {
    padding: 50px 0;
  }

  .infoLinksContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .customOffers,
.community {
    margin-bottom: 0px;
  }

  .textContainer {
    width: 100%;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .textContainer p {
    text-align: center;
  }

  .circle {
    position: relative;
  }

  .ArticlesTextAndButtonContainer1 h2,
.ArticlesTextAndButtonContainer2 h2 {
    font-size: 30px;
    margin: 0;
  }
  .ArticlesTextAndButtonContainer1 p,
.ArticlesTextAndButtonContainer2 p {
    font-size: 16px;
    line-height: 24px;
  }

  .ArticlesTextAndButtonContainer2 h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .ArticlesTextAndButtonContainer2 button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .blogPostContainer {
    width: 90%;
  }

  .missionAside {
    width: 100%;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .missionAsideDivImg,
.missionAsideDivText,
.missionAsideDivList {
    width: calc((100% - 30px) / 3);
    margin: 5px;
  }

  .comments {
    width: 100%;
  }
  .comments h2 {
    top: 0px;
    margin-top: 25px;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 16px;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 16px;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 16px;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 16px;
  }

  input::placeholder,
textarea::placeholder {
    font-size: 16px;
  }

  .contactHeader {
    height: 50vh;
  }

  .contactHeading1 {
    font-size: 75px;
    top: 15%;
  }

  .contactFormSection {
    width: 95%;
  }

  .contactInfo {
    position: relative;
    top: 20px;
    right: -250px;
  }
}
@media (max-width: 480px) {
  .homeHeader {
    height: 55vh;
  }

  .logoDiv {
    display: none;
  }

  .navLinks li {
    height: 0;
    overflow: hidden;
  }

  .hamburgerMenu {
    height: auto;
    overflow: visible;
    position: absolute;
    right: 50px;
    font-size: 40px;
  }

  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .welcomeHeading1 {
    margin: 0 auto;
    font-size: 23px;
  }
  .welcomeHeading1 .logo {
    font-size: 60px;
  }

  .textAndButtonContainer h2 {
    font-size: 42px;
  }
  .textAndButtonContainer p {
    font-size: 16px;
  }

  .gallery {
    padding: 0;
  }

  .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galleryContainer li {
    width: 100%;
    margin: 0;
    padding: 45px;
  }

  .infoLinksContainer a {
    font-size: 35px;
  }

  .textContainer {
    padding: 20px;
  }
  .textContainer p {
    font-size: 16px;
  }

  .circle {
    width: 45px;
    height: 45px;
  }
  .circle .fas {
    font-size: 27px;
  }

  .articlesContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .articlesContainer2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .articles1ImgContainer {
    width: 100%;
    padding: 0 30px;
  }
  .articles1ImgContainer img {
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .ArticlesTextAndButtonContainer1,
.ArticlesTextAndButtonContainer2 {
    width: 100%;
  }
  .ArticlesTextAndButtonContainer1 p,
.ArticlesTextAndButtonContainer2 p {
    text-align: center;
  }

  .ArticlesTextAndButtonContainer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ArticlesTextAndButtonContainer1 h2 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .ArticlesTextAndButtonContainer1 p {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .ArticlesTextAndButtonContainer1 button {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .ArticlesTextAndButtonContainer2 h2 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .ArticlesTextAndButtonContainer2 button {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .articles2ImgContainer {
    width: 100%;
    padding: 0 30px;
  }
  .articles2ImgContainer img {
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .trialsContainer h2 {
    font-size: 40px;
  }
  .trialsContainer p {
    font-size: 16px;
    text-align: center;
  }

  .blogHeader {
    height: 45vh;
  }

  .blogHeading1 {
    top: 0;
  }

  .blogPost h2 {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 4px;
    text-align: center;
  }

  .blog p,
.comments p,
.commentFormSection p {
    font-size: 13px;
    text-align: center;
  }

  .blogPostContainer {
    width: 98%;
  }

  .missionAside h3 {
    margin: 0 auto;
  }

  .missionAsideDivText {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .missionAsideDivImg {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .commentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commentContainer .commentArticleTitleAndText {
    margin: 0 auto;
    padding: 0;
  }

  .commenterImg {
    width: 55%;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .commentArticleTitleAndText {
    padding: 0;
  }

  .formSubFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  textarea {
    padding: 10px;
    width: 400px;
  }

  .contactInfo {
    right: -5px;
  }

  .contactForm {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactForm textarea {
    padding: 10px;
    width: 300px;
  }
}
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  background: #FCFCFC;
  color: #000000;
}

.skip-link:focus {
  left: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logo {
  font-size: 41.5px;
  font-family: "Dokdo", cursive;
  color: #FFC600;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
}

h2 {
  font-size: 45px;
  font-family: "Dokdo", cursive;
  color: #FFC600;
  line-height: 58px;
  letter-spacing: 4.9px;
}

h3 {
  font-family: "Dokdo", cursive;
  font-size: 35px;
  color: #FAFFFE;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FAFFFE;
  color: #FFC600;
}

li {
  list-style-type: none;
}

button {
  background: #555F02;
  border: none;
  font-family: "Dokdo", cursive;
  color: #FAFFFE;
  font-size: 30px;
  padding: 5px 10px;
  margin: 10px 0;
}

button:focus {
  border: 2px dotted #FAFFFE;
}

button:hover {
  color: #1E140E;
  background-color: #FAFFFE;
}

button:active {
  color: #1E140E;
  background-color: #555F02;
}